<footer class="footer h-card">
  <p>
  <ul class="social-icons">
    <li><a href="https://mstdn.social/@cjerrington" class="u-url" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-mastodon" aria-hidden="true"></i> Mastodon</a></li>
    <li><a href="https://github.com/cjerrington" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    <li><a href="https://codeberg.org/cjerrington" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-git-alt" aria-hidden="true"></i> Codeberg</a></li>
    <li><a href="/feed.xml"><i class="fas fa-fw fa-rss" aria-hidden="true"></i> Feed</a></li>
    <li><a href="/blogroll"><i class="fas fa-fw fa-user" aria-hidden="true"></i> Blogroll</a></li>
  </ul>
  </p>

  <p>
    &copy; {{ helpers.currentYear() }} - <span class="p-name">{{ site.meta.title }}</span>
  </p>
</footer>