{% for tag in tags %}
  {% if tag === '100DaysToOffload' %}
    <hr />
    <p class="text">
      I'm publishing this as part of <a href="/100DaysToOffload/">100 Days To Offload</a>. You can join in yourself by visiting <a href="https://100DaysToOffload.com">100DaysToOffload.com</a>.
    </p>
  {% endif %}
{% endfor %}