---
title: 100 Days To Offload
layout: layouts/base.njk
permalink: /100DaysToOffload/
eleventyNavigation:
  key: 100DaysToOffload
  weight: 1
---

<div class="container">

  <h1>100 Days To Offload
    {% set postCount = 0 %}
    {% for tag in collections.offload %}
      {% set postCount = postCount + 1 %}
    {% endfor %}
    <small>({{ postCount }} posts)</small>
  </h1>

  <p>The challange, <a href="https://100daystooffload.com/">100 Days To Offload</a>, is a challange to publish 100 posts on your personal blog in a year. They dont need to be long, deep, meaningful, just content.</p>
  <p>
    You can see my list of posts below in the challange and others as well: 
    <ul>
      <li><a href="https://fosstodon.org/tags/100DaysToOffload">Mastodon</a></li>
      <li><a href="https://twitter.com/hashtag/100DaysToOffload">Twitter</a></li>
      <li><a href="https://www.facebook.com/hashtag/100daystooffload">Facebook</a></li>
    </ul>
  </p>

  <div class="card-grid">
    {% for post in collections.offload %}
    <div class="card">
      <h3 class="card__title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      <p class="card__date">{{ post.date | readableDate }}</p>
      <p class="card__description">{{ post.data.excerpt }}</p>
      <p class="card__subtitle">Tags:</p>
      <div class="card__tags">
        {% for tag in post.data.tags %}
          {% if tag != 'post' %}
            <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
            {%- if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
