---
title: About Me
description: All about me in this page
layout: layouts/post.njk
hideTagsList: true
eleventyNavigation:
  key: About
  weight: 4
---

<h3>Some information about me</h3>

<p>Clayton's interest in web design and photography began in high school. In addition to his design and photography skills, he has technical expertise in installing and implementing computer systems and designs.</p>

<p>He graduated from Texas Tech University in May 2014 with a bachelor's in Electronic Media and Communications. He is excited to work for a company that is always looking forward to how they can help the community. Clayton received his Eagle Scout before he started high school and enjoys serving the community and helping others.</p>

<p>Clayton was born in Houston, Texas. He has worked on a wide variety of websites including children's books, utility districts, businesses, portfolios, and more. Being able to create a user-friendly website for the client and audience is what he strives for.</p>

<p>Clayton is looking forward to the opportunities that will arise in his job, community, and family. During his spare time, he enjoys playing sports with friends, tinkering with computers and web technologies, and spending time with his family.</p>

<h3>Contact me</h3>

<p>You can also contact me on the <a href="https://joinmastodon.org/" target="_blank">Fediverse</a> at <a href="https://mstdn.social/@cjerrington" target="_blank">@cjerrington@mstdn.social</a></p>

<form
  name="contact"
  method="POST"
  action="https://formspree.io/f/xrgodley"
>
<input type="hidden" name="subject" value="Contact Form submission from my Website" />
<input type="text" name="_gotcha" style="display:none" />
  <p>
    <label>
      Name: <input type="text" name="name" placeholder="Your name" />
    </label>
  </p>
  <p>
    <label>
      Email: <input type="text" name="email" placeholder="Email" />
    </label>
  </p>
  <p class="hidden">
    <label>
      Don't fill this out if you're human: <input name="bot-field" />
    </label>
  </p>
  <p>
    <label>
      Message: <textarea name="message"></textarea>
    </label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>