---
title: Archive
description: All of my posts in one place, by year and month
permalink: /archive/index.html
layout: page.njk
---

<p>All my blog posts &amp; notes, chronologically ordered from now back in time for the last {{ diary().length }} years.
<div class="post-listing">

	{% for year in diary() %}
		<details>
			<summary>
			<h2 id="{{ year.title }}">{{ year.title }} {{ year.length }}</h2>	
			</summary>		
			{% for month in year.months %}
				
				{% if month.entries.length  > 0 %}
				<h3>{{ month.title }} <small>({{ month.entries.length }} posts)</small></h3>
				
				
				<ul class="diaryEntries">
				{% for entry in month.entries %}
					<li class="{{ entry.type }}"><a href="{{ entry.url }}">{{ entry.title }}</a> {% if entry.date %} {{ month.title }} {{ entry.date }}{% endif %}</li>
				{% endfor %}
				</ul>
				{% endif %}
				
			{% endfor %}
		</details>
	{% endfor %}
	</ul>
</div>