---
title: Drafts
layout: layouts/base.njk
permalink: /drafts/
---

<div class="container">

  <h1>Drafts</h1>

  <div class="card-grid">
    {% for post in collections.drafts %}
    <div class="card">
      <h3 class="card__title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      <p class="card__date">{{ post.date | readableDate }}</p>
      <p class="card__description">{{ post.data.excerpt }}</p>
      <p class="card__subtitle">Tags:</p>
      <div class="card__tags">
        {% for tag in post.data.tags %}
          {% if tag != 'post' %}
            <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
            {%- if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
