---
permalink: "/search.json"
---
[
  {%- for post in collections.posts %}
    {%- set url %}{{ post.url | url }}{% endset -%}
    {
      "url": "{{ url }}",
      "title": "{{ post.data.title }}",
      "date": "{{ post.data.date | formatDate('MMMM D, YYYY') }}",
      "excerpt": "{{ post.data.description }}",
      "tags": "{{ post.data.tags }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
  {%- endfor %}
]