---
title: Search
description: Search the site
layout: layouts/post.njk
hideTagsList: true
eleventyNavigation:
  key: Search
  order: 6
---

Enter text below to begin your search
<input type="text" id="search" autocomplete="off" placeholder="Search..." />
<div id="results"></div>
<script src="/static/js/search.js" async defer></script>