body
  margin 0
  line-height 1.5
  font-family default_font
  color text_color
  background-color bg_color
  min-height 100vh
  display grid
  grid-template-rows auto 1fr auto
  width 100%

  &.dark
    color text_color_dark
    background-color bg_color_dark

search
input[type="text"]
    display block
    width calc(100% - 24px)
    font-size 18px
    font-weight 600
    color text_color
    padding 10px
    border 2px solid bg_color

.webmauthor img{
  width 50%
  height 50%
  border-radius 50%
}