---
eleventyExcludeFromCollections: true
permalink: "/robots.txt"
---
Sitemap: httsp://clayton.errington.com/sitemap.xml

User-agent: CCBot
Disallow: /

User-agent: ChatGPT-User
Disallow: /

User-agent: GPTBot
Disallow: /

User-agent: Google-Extended
Disallow: /

User-agent: Omgilibot
Disallow: /

User-agent: FacebookBot
Disallow: /

User-agent: Amazonbot
Disallow: /

User-agent: Teoma
Disallow: /

User-agent: Gigabot
Disallow: /

User-agent: Robozilla
Disallow: /

User-agent: Nutch
Disallow: /

User-agent: psbot
Disallow: /

User-agent: *
Disallow: /cgi-bin/
Disallow: /admin/
Disallow: /search/
Disallow: /search.json
Disallow: /category/
Disallow: /tags/