---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag | slugify | lower }}/
---

{% block content %}

<div class="container">
  <h2>{{ collections[tag].length }} Posts Tagged "{{ tag }}"</h2>

  {% set posts = collections[tag] | reverse %}
  {% include 'components/postslist.njk' %}

  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</div>

{% endblock %}