---
title: Not Found
layout: page
permalink: /404.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
noindex: true
---

<p>Go <a href="{{ '/' | url }}">home</a> or browse the archive</p>

{%- for year, yearPosts in collections.postsByYear %}
  <h2>{{ year }}</h2>
  <ul>
    {%- for post in yearPosts | reverse %}
      <li>{{ post.date | formatDate('MMMM D, YYYY') }} | <a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {%- endfor -%}
  </ul>
{%- endfor -%}
