---
permalink: /vercel.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
    "headers": [
        {
          "source": "/.well-known/webfinger",
          "headers": [
            {
              "key": "content-type",
              "value": "application/jrd+json; charset=UTF-8"
            }
          ]
        }
    ],
    "redirects": [
        {
          "source": "/view-source",
          "destination": "https://github.com/cjerrington/cjerrington.github.io"
        },
        {
          "source": "/net-check",
          "destination": "https://cjerrington.github.io/net-check/"
        },
    {%- for page in collections.all -%}
    
      {%- if page.url and page.data.redirectFrom -%}
        {%- for oldUrl in page.data.redirectFrom %}
        {
          "source":  "{{ oldUrl }}",
          "destination": "{{ page.url }}"
        }
        {%- if oldUrl === page.data.redirectFrom.at(-1) -%}
        {%- else -%}
        ,
        {%- endif %}
        {%- endfor -%}
      {%- endif -%}
    {%- endfor %}
    ]
}
